<div class="h-screen w-screen">
  <div class="relative max-w-md mx-auto top-24">
    <h2 class="text-center font-bold text-4xl mb-5">Create an Account</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name) ) do |f| %>

      <%= render 'devise/shared/error_messages', resource: resource %>

      <div class="flex flex-col w-full h-full p-2 gap-4">
        <div class="field flex flex-col w-full">
          <%=
            f.label :email, class: 'text-gray-800 font-medium text-lg'
          %><br />
          <%=
            f.email_field :email,
                          autofocus: true,
                          autocomplete: 'email',
                          class:
                            'rounded-md text-lg py-2 px-1 border border-indigo-500 w-full'
          %>
        </div>

        <div class="field flex flex-col w-full">
          <%= f.label :password, class: 'text-gray-800 font-medium text-lg' %>
          <%=
            f.password_field :password,
                             autocomplete: 'new-password',
                             class:
                               'rounded-md text-lg py-2 px-1 border border-indigo-500 w-full'
          %>
        </div>

        <div class="field flex flex-col w-full">
          <%=
            f.label :password_confirmation,
                    class: 'text-gray-800 font-medium text-lg'
          %>
          <%=
            f.password_field :password_confirmation,
                             autocomplete: 'new-password',
                             class:
                               'rounded-md text-lg py-2 px-1 border border-indigo-500 w-full'
          %>
        </div>

        <%=
          f.submit 'Sign up',
                   data: { turbo: false },
                   class:
                     'bg-indigo-500 text-gray-100 p-2 rounded-lg text-lg font-semibold '

        %>
        <div class="text-right text-indigo-500">
          <%= render 'devise/shared/links' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
