<%= turbo_frame_tag category do %>
  <div
    class="bg-gray-200 rounded-xl h-full w-72 flex flex-col p-2 gap-2"
    id="category_<%= category.id %>"
  >
    <div class="flex justify-between">
      <%= link_to category_path(category), data: { turbo_frame: 'modal' } do %>
        <h2
          class="text-xl font-bold cursor-pointer hover:underline decoration-blue-500 decoration-2"
        >
          <%= category.name %>
        </h2>
      <% end %>
      <div class="flex gap-2">
        <%=
          link_to 'delete',
                  category_path(category),
                  data: {
                    turbo_confirm: 'Are you Sure?',
                    turbo_method: :delete,
                    turbo_frame: '_top',
                  },
                  class: 'text-gray-800 text-lg font-light'
        %>
        <%=
          link_to 'edit',
                  edit_category_path(category),
                  data: {
                    turbo_frame: 'modal',
                  },
                  class: 'text-gray-800 text-lg font-light'
        %>
      </div>
    </div>

    <%= turbo_frame_tag "tasks_#{category.id}", class: "flex flex-col w-full gap-2 overflow-y-auto" do %>
      <%= render category.tasks %>
    <% end %>

    <%= link_to new_category_task_path(category),
                data: {
                  turbo_frame: 'modal',
                },
                class: "bg-gray-50 rounded-md h-12 font-bold text-lg flex items-center justify-center gap-2" do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      Add Task
    <% end %>
  </div>
<% end %>
