<div class="p-4">
  <h1 class="font-bold text-4xl my-4">Tasks for today!</h1>

  <div class="flex flex-col gap-2">
    <% @tasks.each do |task| %>
      <li
        class="flex items-start justify-between gap-2 p-2 bg-gray-100 rounded-xl max-w-3xl"
        id="todo_task_<%= task.id %>"
      >
        <div class="flex-1">
          <h3 class="text-gray-900 text-xl font-bold">
            <%= task.title %>
          </h3>
          <p class="text-gray-700 text-lg"><%= task.description %></p>
        </div>
        <div class="flex gap-2 w-[200px]">
          <button class="rounded-full bg-green-500 p-2 text-white">
            Timer
          </button>
          <%= form_with model: task, data: {turbo_frame: 'top'} do |f| %>
            <%= f.hidden_field :category_id, value: @done.id %>
            <%=
              f.submit 'Done', class: 'rounded-full bg-blue-500 p-2 text-white cursor-pointer'
            %>
          <% end %>
          <%=
            link_to 'Delete',
                    task_path(task),
                    data: {
                      turbo_confirm: 'Are you Sure?',
                      turbo_method: :delete,
                      turbo_frame: '_top',
                    },
                    class: 'rounded-full bg-red-500 p-2 text-white'
          %>
        </div>
      </li>
    <% end %>
  </div>
</div>
